<div class="col-md-6 col-md-offset-3 text-center">
  <h3>Enter the players being exchanged. Output value is based on aggregated ADP data.</h3>
</div> 

<div class="col-md-5">
    <% @team1_players.each do |player|%>
        <h4><%= player.name %> | <%= player.position %> | <%= player.age %> | <%= player.value %></h4>
        <br>
        <br>
    <% end %>
    <h3>Team 1 Value: <%= @team1_value %></h3>
    <h3>Team 1 Gains: <%= @team1_gain %></h3>
</div>

<div class="col-md-5 col-md-offset-1">
    <% @team2_players.each do |player|%>
        <h4><%= player.name %> | <%= player.position %> | <%= player.age %> | <%= player.value %></h4 >
        <br>
        <br>
    <% end %>
    <h3>Team 2 Value: <%= @team2_value %></h3>
    <h3>Team 2 Gains: <%= @team2_gain %></h3>
    <br>
</div>
<div class="text-center">
    <%= link_to "Search Again", root_path, class: "btn" %>
</div>